#attfile{
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 250px;
	height: 150px;

	overflow: hidden;
	border: 0px solid #aaaaaa;
	box-sizing: border-box;
}


#attfile img{
	cursor: pointer;
	position: absolute;
	float: left;
}

#attfile div{
	position: relative;
	display: inline-block;
	width:60px;
	height:60px;
	margin: 4px;
	border: 1px solid #aaa;
}

#attfile input[type=button]{
	background:rgba(255, 255, 255, 0);
	border:0px;
	opacity: 0.3;
	font-size: 30px;
	position: absolute;
	right: 0px;
	bottom: 0px
}